body
{
	background-color: #40a040;
}

.table
{
	background-color: #40a040;
}

.Centered
{
	text-align: center;
}

.dealer
{
	background-color: #338033;
	min-height: 150px;
}

.player
{
	background-color: #66B366;
	min-height: 150px;
}

.noPad
{
	margin-top: 0px;
	margin-bottom: 0px;
}

.controls
{
	background-color: #AFD7AF;
}

.game-info
{
	float:right;
	background-color: #AFD7AF;
	margin-right: 15px;
}

.cards
{
	float:left;
}