body
{
	background-color: #40a040;
}

.table
{
	background-color: #40a040;
}

.Centered
{
	text-align: center;
}

.dealer
{
	background-color: #338033;
	min-height: 170px;
}

.player
{
	background-color: #66B366;
	min-height: 170px;
}

.noPad
{
	margin-top: 0px;
	margin-bottom: 0px;
}

.controls
{
	background-color: #86C386;
}

.game-info
{
	float:right;
	background-color: #AFD7AF;
	margin-right: 15px;
}

.cards
{
	float:left;
}

.small-temp
{
	opacity: .3;
	font-size: 650%;
	position: absolute;
	padding-left: 35%;
}

.large-temp
{
	color:black;
	font-size: 800%;
	position: absolute;
	top:32%;
	right:30%;
}

.buttons
{
	width:200px;
	height:50px;
}

.faded
{
	opacity:.6;
}

.bank
{
	color: black;
	padding-right: 5%;
}